.camera-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.camera {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app__container {
    position: relative;
}

.app__container>video {
    width: 350px;
    height: 350px;
}

.app__container>.demo {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1;
}

.app__container>.demo>model-viewer {
    width: 150px;
}



.screenshot {
    margin-left: 15px;
    width: 350px;
    height: 268px;
    position: relative;

}

.screenshot>img {
    height: 100%;
    width: 100%;
    position: absolute;
    /* bottom: 65px; */
}

.screenshot>.demo>model-viewer {
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}