.camera-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.camera {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app__container {
    position: relative;
}

.app__container>.demo {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100px;
    z-index: 1;
}


.screenshot {
    margin-left: 15px;
    width: 500px;
    height: 500px;
    position: relative;

}

.screenshot>img {
    height: 375px;
    width: 100%;
    position: absolute;
    bottom: 65px;
}

.screenshot>.demo {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100px;
    z-index: 1;
}

;